
<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

Welcome to Our Movies App.

<div class="row">
    <div class="col-md-6">
        <a href='movie/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Movies
        </a>
    </div>
</div>


